[submodule "rssi-service"]
	path = rssi-service
	url = https://github.com/RyuChk/IPS-RSSI
[submodule "bff-service"]
	path = bff-service
	url = https://github.com/RyuChk/IPS-BFF
[submodule "map-service"]
	path = map-service
	url = https://github.com/RyuChk/IPS-MAP
[submodule "prediction-service"]
	path = prediction-service
	url = https://github.com/RyuChk/IPS-Prediction
